@tailwind base;
@tailwind components;
@tailwind utilities;

.hight{
    height: 95%;
}
.with{
    width: 10%;
}
.content-width{
    width: 90%;
}
.bggg:active{
    background-color: black;
    color: aliceblue;
}
.bggg:focus{
    background-color: black;
    color: aliceblue;
}
